@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --fondo: #f5f6f7;
  --azul: #17394f;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/*Cabecera*/
.cabecera {
  background-color: var(--azul);
  padding: 0.9rem 0;
}

/*Footer*/
footer {
  width: 100%;
}

.invalid-feedback:not(:empty) {
    display: block;
}